h1
{
	font-size: 24px;
	margin: 10px;
	color: green;
	
	
	
}
.grid
{
display: grid;
grid-template-columns: 200px 60%;
grid-auto-flow: column;

	
	
	
}

.wrap

{}
.top
{
background-color: #8A8A8A;
	height: 10px;
	
	
}

.r_left
{
	
	background-color: black;
	
		min-height: 640px;
	
}



a.r_left_menu
{
	display: block;
	color: aliceblue;
	text-decoration: none;
	font-size: 18px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	
	
	
}

a.r_left_menu:hover
{
	background-color: #fff;
	color: #000000;
	border: 1px solid  black;
	
	
	
}


.r_riht
{
	
	
	
}

.forma__text
{
	width: 100%;
	min-height: 640px;
	border: 1px solid  black;
	margin: 10px;
	
	
	
}
.forma_boot
{
	padding: 10px;
	font-size: 18px;
	background-color: black;
	color: aliceblue;
	text-align: center;
	margin: 10px;
	float: right;
	
	
	
	
	
}

.login
{
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	
	
	
	
	
	
}
.login_title
{

	

	font-size: 18px;
	
	
	text-align: center;
	
	
	
	
	
}

.login_input
{
	border: 1px solid black;
	width: 200px;
	margin-bottom: 10px;
	height: 25px;
}

.login_boot
{
	
	padding: 10px;
	font-size: 18px;
	background-color: black;
	color: aliceblue;
	text-align: center;
	float: right
	
		
	
}

.edit_box
{
	margin-bottom: 10px;
	width: 250px;
	

	
}
.edit_box a
{
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-size: 18px;
	display: block;
	margin-left: 10px;
	

	
}
.edit_box a:hover
{
	margin-bottom: 10px;
	text-decoration: underline;
	

	
}
